<div class="cv-section-details row">
  <div class="work-section-name-position large-6 columns">
    
    <div class="work-section-company">
      {{#if website}}
      <h4> <a href="{{website}}" target="_blank">
        {{company}}
      </a>
      </h4>
      {{else}}
      <h4>{{company}}</h4>
      {{/if}}
    </div>
    <div class="work-section-position">
      {{position}}
    </div>
  </div>
  <div class="work-section-dates large-6 columns">
    <div class="work-section-start-date date-stamp">
      <p>{{HB_momentFormatDate startDate}}</p>
    </div>
    <div class="work-section-end-date date-stamp date-stamp-end">
     <p> {{HB_momentFormatDate endDate}}</p>
    </div>
  </div>
</div>


<div class="work-section-summary row">
  <blockquote>{{summary}}</blockquote>
</div>
<div class="work-section-highlights row">
  <ul class="work-section-highlight-list">
    {{#each highlights}}
    <li class="work-section-highlight-list-item">{{this}}</li>
    {{/each}}
  </ul>
</div>
